@font-face {
    font-family: Poetsen;
    src: url(../font/Poetsen.ttf);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: DMSans; 
    src: url(../font/DMSans.ttf);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: Sedan;
    src: url(../font/Sedan.ttf);
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: JosefinSans;
    src: url(../font/JosefinSans.ttf);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: letraLogo;
    src: url(../../fonts/letraLogo.ttf);
}

@font-face {
    font-family: letraTexto-Extralight;
    src: url(../../fonts/letraTexto-Extralight.ttf);
}

@font-face {
    font-family: letraTexto-Hardline;
    src: url(../../fonts/letraTexto-Hardline.ttf);
}

@font-face {
    font-family: Arsenal;
    src: url(../../fonts/Arsenal.ttf);
}

@font-face {
    font-family: Montserrat;
    src: url(../../fonts/Montserrat.ttf);
}